@import url('https://fonts.googleapis.com/css2?family=Averia+Gruesa+Libre&display=swap');
@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1170px;
   --font-primary: "Averia Gruesa Libre", system-ui;
   --color-primary: #212529;
   --color-secondary: #f8f9fa;
}

body{
  background-color: #212529;
}

@layer utilities{
  .container{
    margin: auto;
  }
}
.anime{
  animation: animate 6s linear 1s infinite;
}
@keyframes animate{
 to {
  background-position-x:-200px ;
 }
}