@import url('https://fonts.googleapis.com/css2?family=Averia+Gruesa+Libre&display=swap');
@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1170px;
  --font-primary: "Averia Gruesa Libre", system-ui;
  --color-primary: #212529;
  --color-secondary: #f8f9fa;
}

body {
  background-color:#457b9d ;
  /* background-color: #22223b; */
  color: #f0efeb;
  /* color: #f8f9fa; */
   font-family: "Averia Gruesa Libre", system-ui;
}

h1 {
  text-align: center;
  font-size: 60px;
 
}

@layer utilities {
  .container {
    margin: auto;
  }
}
html {
  scroll-behavior: smooth;
}

/* use in nav Component  and about me */

.anime {
  animation: animate 4s linear 1s infinite;
  width: 100%;
}

@keyframes animate {
  to {
    background-position: -220px;
  }
}


/* use in about component */
.anima {
  transform: translateY(20px);
  animation: anima 4s ease-in;
 
}

@keyframes anima {
  0% {
    /* Effect values */
    transform: translateY(-500px);
    opacity: 0;
    filter: blur(20px);
  }

}

/* rounded-full bg-primary text-secondary border px-4 py-1 hover:bg-secondary hover:text-primary */

.card h3{
  padding: 4px 16px;
  border-radius: calc(infinity * 1px);
  border: 1px solid ;
  color: #f8f9fa;
  /* box-shadow: 0 0 10px; */
  font-weight:500;
}
.card h3:hover{
  background-color: #f8f9fa;
  color: #212529;
  transform: scale(1.2);
   border: 1px solid #212529;
}